@using RaidFinder.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RaidingPostModels

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaidFinder</title>
    <link rel="stylesheet" href="~/lib/css/addpost.css">
</head>

<body>
    <header>
        <h1 id="title">Raid Finder</h1>
    </header>
    <div class="text">
        <h2 id="text">Edit Post</h2>
    </div>

    <div class="main">
        <div class="box-container">
        <form id="form" method="post" asp-controller="home" asp-action="editpost">
            <input id="postName" type="hidden" asp-for="Name" name="Name" /><br />
            <label for="NamePost">Post Name</label> </br>
            <input id="Name" type="text" name="input" value="@Model.Name.Split(',')[1]"/><br />
            <label for="PowerLevel">Power Level</label></br>
            <input type="text" asp-for="PowerLevel" name="PowerLevel" value="@Model.PowerLevel" /><br />
            <label for="MaxSize">Capacity</label></br>

            <label for="MaxSize">Max size (Max:5)</label></br>
            <input type="number" asp-for="MaxSize" name="MaxSize" min='0' max='5' value="@Model.MaxSize" /><br />
            <label for="Boss">Boss Name</label></br>
            <select id="boss" name="boss">
                <option value="boss1">boss1</option>
                <option value="boss2">boss2</option>
                <option value="boss3">boss3</option>
                <option value="boss4">boss4</option>
                <option value="boss5">boss5</option>
            </select></br>
            <label for="Description">Description</label></br>
            <textarea id="Des" name="Description" rows="5" cols="20" maxlength="100" asp-for="Description">
        </textarea></br>
            <label for="TimeOut setting">Timeout setting</label></br>
            <div class="Box">
                <input type="number" min="0" max="99" name="Hour" placeholder="Hour" />
                <input type="number" min="0" max="99" name="Minute"  placeholder="Min" />
            </div>
            <br />
            <input id="ownerId" type="hidden" asp-for="OwnerId" value="@Model.OwnerId" /><br />
            <input type="hidden" name="Users" value="@ViewBag.PartyList" />
            <input id="postId" type="hidden" asp-for="PostId" value="@Model.PostId"/><br />
            <input type="submit" value="Save" />
        </form>
    </div>
    </div>
    <script src="~/lib/js/post.js"></script>

</body>

</html>