
@using RaidFinder.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<RaidingPostModels>
@{
	ViewData["Title"] = "Base test";
	Layout = "~/Views/Shared/Navbar.cshtml";
}

@section AdditionalCSS{
	<link rel="stylesheet" href= "~/lib/css/Base.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="~/lib/js/BoxClick.js"></script>
}

<div class="container">
    <div class="container-1">
		<div class="text-party">
			<h2>Party List</h2>
		</div>
		<div class="btn">
			
		    <input type="text" id="search" placeholder="Search"></input>
		</div>
	</div>
	<div class="line"></div>
        <div class="grid-container">
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var Post in Model)
            {

                TimeSpan diff = (TimeSpan)(Post.TimeOut - DateTime.Now);
                string temp = "";
                if (diff.TotalMinutes >= 1)
                {
                    temp = $"{(int)diff.TotalHours} hours {(((int)diff.TotalMinutes%60))} minutes left";
                }
                else
                {
                    temp = $"Ended";
                    continue;
                }

                <div class="box-item" @("onclick=GoToRoom('" + Post.PostId + "')")>
                    <div class="img-box">
                        @{
                            if (Post.Name.Split(',')[0] == "boss1")
                            {
                                <img src="image/DEILJHO.jpg" alt="">
                            }
                            else if (Post.Name.Split(',')[0] == "boss2")
                            {
                                <img src="image/KULVE_TAROTH.jpg" alt="">
                            }
                            else if (Post.Name.Split(',')[0] == "boss3")
                            {
                                <img src="image/KUSHALA_DAORA.jpg" alt="">
                            }
                            else if (Post.Name.Split(',')[0] == "boss4")
                            {
                                <img src="image/LUNASTRA.jpg" alt="">
                            }
                            else if (Post.Name.Split(',')[0] == "boss5")
                            {
                                <img src="image/NERGIGANTE.jpg" alt="">
                            }
                        }  
                        </div>
                    <div class="score">
                        <div class="box">
                            <span></span>
                            <div class="number">
                                <b class='top' style="--i:0;">@Post.PartyList.Count()</b>
                                <b class='bot' style="--i:1;">@Post.MaxSize</b>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <h3>Power Level</h3>
                        <h2>@Post.PowerLevel+</h2>
                    </div>
                    <div class="line-block"></div>
                    <div class="data">
                        <h2 class="name">@Post.Name.Split(',')[1]</h2>
                        <h3 class="info">
                            @Post.Description
                        </h3>
                        <small class="date">@temp</small>
                        <div class="icon"><i class="fa fa-plus-circle"></i></div>
                    </div>
                </div>
                <script>
                    var BossQueryUrl = @Url.Action("BossImage", "Home", new { name = @Post.Name.Split(',')[0] });
                </script>
            }
        }
        <script>
            var searchUrl = '@Url.Action("Search", "Home")';
            var BossQueryUrl = '@Url.Action("BossImage", "Home")';
        </script>
		<script src="~/lib/js/search.js"></script>
    </div>
	
</div>