@using RaidFinder.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RoomInfoViewModel
@inject IHttpContextAccessor contxt;
@{
	ViewData["Title"] = "RoomInfo";
	Layout = "~/Views/Shared/Navbar.cshtml";
}

@section AdditionalCSS {
	<script src="~/lib/js/BoxClick.js"></script>
	@if (Model.Post.OwnerId == @contxt.HttpContext.Session.GetInt32("UserId"))
	{
		<link rel="stylesheet" href="~/lib/css/roominfo.css">
	}
	else
	{
		<link rel="stylesheet" href="~/lib/css/roominfo2.css">
	}
}


@if (Model != null)
{
	<div>
		<div class="subtab">
			<h2><b>Party List</b></h2>
		</div><hr>
		<div class="room">
			<div class="roomlayout">
				<div class="raidimg">
					<img src="https://staticg.sportskeeda.com/editor/2023/08/ef4f5-16920041832591-1920.jpg"></img>
					<h1>BOSS NAME</h1>
				</div>
				<div class="roominfo">
					<div class="roomheader">
						<div class="box">
							<span></span>
							<div class="number">
								<b class='top' style="--i:0;">@Model.Post.PartyList.Count()</b>
								<b class='bot' style="--i:1;">@Model.Post.MaxSize</b>
							</div>
						</div>
						<div class="roomtitle">
							<h2>POWER LEVEL</h2>
							<b>@Model.Post.PowerLevel</b>
						</div>
					</div>
					<div class="roomdest">
						<h2>@Model.Post.Name</h2>
						<p>
							@Model.Post.Description
						</p>
					</div>
				</div>
				<div>
					<h2>Party List</h2>
					<div class="memberlist">
						@{
							int count = 0;
							foreach (var User in Model.Post.PartyList)
							{
									@if (User != null)
								{
										<div>
											<img src="data:image;base64,@Convert.ToBase64String(Model.ImageList[count])">
											@if (Model.Post.OwnerId == User.UserId)
										{
												<h3><b>Party Leader</b></h3>
										}
											<p>U : @User.Name</p>
											<p>@User.Stat.Class LV @User.Stat.Level</p>
											<p>PW @User.Stat.PowerLevel</p>
											@if (Model.Post.OwnerId != User.UserId)
										{
												<button onclick="window.location.href='@Url.Action("KickUser", "Home", new { PostId = Model.Post.PostId, UserId = User.UserId })';"><span>&#x274C;</span></button>
										}
										</div>
								}
								count = count + 1;
							}
						}
					</div>
				</div>

			</div>
			<div class="roominteractive">
				@* 				var joinbutton = document.getElementById("join");
for (var i = 0; i < Model.Post.Partylist.length; i++) {
	var user = Model.Post.Partylist[i];
	if (user.UserId == userid) {
		joinButton.style.display = "none";
		console.log("here display none");
		break;
	}
} *@

				@{
					var flag = false;
					foreach(var user in Model.Post.PartyList)
					{
						if (user.UserId == @contxt.HttpContext.Session.GetInt32("UserId"))
						{
							flag = true;
						} 
					}
					if (flag != true)
					{
						<button id="join" onclick="window.location.href='@Url.Action("JoinRoom", "Home", new { PostId = Model.Post.PostId })';"><span> + Join team </span></button>
					}
				}
				
				<button id="delete" onclick="window.location.href='@Url.Action("DeletePost", "Home", new { id = Model.Post.PostId })';"><span> Delete Post </span></button>
				<button id="save" onclick="window.location.href='@Url.Action("EditPost", "Home", new { id = Model.Post.PostId })';"><span> Edit Post </span></button>
			</div>
		</div>
@* 		<script>
			var userid = @contxt.HttpContext.Session.GetInt32("UserId");
		</script>
		<script src="~/lib/js/joinhide.js"></script> *@
	</div>
}